.centerDiv {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.sideDiv {
    width: 25%;
}
.main {
    height: 80%;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        justify-content: space-around;

    }
    .centerDiv {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .sideDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 10px;

    }
}