.container {
    color: white;
}

.h3 {
    font-size: 1.5rem;
}

.span {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}