:root {
    font-family: 'Cinzel', serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: black;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}
html, body {
    overflow-x: hidden !important;
    width: 100%;
}
body.no-scroll {
    overflow: hidden;
}
a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkolivegreen;
}

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;
    overflow-x: hidden;
    width: 100%;
}
button {
    font-family: 'Cinzel', serif;
}
li {
    list-style: none;
}
button {
    touch-action: manipulation;
}
h1 {
    font-size: 5em;
    line-height: 1.1;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 400px;

}
h2 {
    font-size: 3em;
    line-height: 1.1;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 80px auto;
    max-width: 800px;

}

@media (max-width: 1200px) {

}
@media (max-width: 800px) {
 h1 {
     font-size: 3em;
     margin: 0;
     max-width: 300px;
 }
    h2 {
        margin: 30px auto;
    }
    a {
        font-weight: 500;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: darkolivegreen;
    }
}
@media (max-width: 760px) {

}
@media (max-width: 480px) {}
