.hamburger {
    display: inline-block;
    height: 100px;
    margin-right: 27px;
    color: black;
    z-index: 1000;

    a.main_nav_toggle {
        display: block;
        width: 60px;
        height: 16px;
        right: 70px;
        position: absolute;
        top: 50px;
        color: white;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 0;
            border-bottom: 4px solid darkgray;
            width: 100%;
            left: 0;
            right: 0;
            transition: all ease-out 0.3s;

        }

        &:after {
            top: 100%;
        }

        i {
            display: block;
            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;
            height: 4px;
            background-color: darkgray;
            width: 100%;
            position: absolute;
            top: 50%;
            transition: all ease-out 0.1s;
        }

        &.active_menu {
            &:after {
                transform: rotate(-45deg);
                transform-origin: center;
                top: 50%;
            }

            &:before {
                transform: rotate(45deg);
                transform-origin: center;
                top: 50%
            }

            i {
                opacity: 0;
            }
        }
    }
}